.Queues-container {
  height: calc(100vh - 120px);
  width: 100%;
  /* display: flex;
  flex-direction: row; */
  /* padding: 36px */
}

.Queues-queueList {
  flex: 1;
  max-width: 20vw;
  /* flex: 0 0 220px; */
  margin-right: var(--l);
}

.Queues-queueContainer {
  /* flex-grow: 1; */
  flex: 2;
  overflow-x: hidden;
}
