.Active-container {
  height: 100%;
  /* width: 10%; */
  /* max-width: 75%; */
}

.Active-header {
  /* font-size: xx-large; */
  /* width: 100%; */
  font-style: oblique;
  /* background-color: var(--primary--dim); */
  border-radius: 1em;
  color: var(--yellow);
  padding: var(--xs) var(--s);
  margin: var(--xl) 0px 0px 0px;
}

.Active-newItemContainer {
  /* width: 100%; */
  padding: var(--s)
}

.Active-oldItemContainer {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  /* width: 100%;
  align-items: center; */
}

.Active-endGameButtonContainer {
  height: auto;
  width: 25%;
}

.Active-endGameButton {
  /* font-size: 14px; */
  padding: var(--s) var(--m);
  background-color: var(--primary--dim);
  flex-grow: 1;
  align-items: center;
  width: 50%;
  padding: var(--s) var(--m);
  border-radius: var(--l);
}

.Active-clearQueueButtonContainer {
  height: auto;
}

.Active-clearQueueButton {
  /* font-size: 14px; */
  padding: var(--s) var(--m);
  background-color: var(--primary--dim);
  flex-grow: 1;
  align-items: center;
  width: 150px;
  padding: var(--s) var(--m);
  border-radius: var(--l);
}
