.Active-container {
  height: 100%;
  /* max-width: 75%; */
}

.Active-header {
  background-color: var(--primary);
  color: var(--white);
  padding: var(--xs) var(--s);
}

.Active-newItemContainer {
  /* width: 100%; */
  padding: var(--s)
}

.Active-oldItemContainer {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.Active-endGameButtonContainer {
  height: auto;
}

.Active-endGameButton {
  font-size: 14px;
  padding: var(--s) var(--m);
  background-color: var(--red);
  flex-grow: 1;
  align-items: center;
  width: 50%;
  padding: var(--s) var(--m);
  border-radius: var(--l);
}

.Active-clearQueueButtonContainer {
  height: auto;
}

.Active-clearQueueButton {
  font-size: 14px;
  padding: var(--s) var(--m);
  background-color: var(--red);
  flex-grow: 1;
  align-items: center;
  width: 150px;
  padding: var(--s) var(--m);
  border-radius: var(--l);
}
