.ActiveQueue-container {
  height: 100%;
  /* max-width: 75%; */
}

.ActiveQueue-header {
  background-color: var(--primary);
  color: var(--white);
  padding: var(--xs) var(--s);
}

.ActiveQueue-newContainer {
  width: 100%;
}

.ActiveQueue-oldContainer {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
