.DelQueuePopup-container {
  height: calc(100vh - 120px);
  width: 100%;
  /* padding: 36px */
}

.DelQueuePopup-queueList {
  flex: 0 0 220px;
  margin-right: var(--l);
}

.DelQueuePopup-queueContainer {
  flex-grow: 1;
  overflow-x: hidden;
}
