.NavBar-container {
  /* float: right; */
  /* height: var(--xl); */
  padding: var(--s) var(--m);
  background-color: var(--primary);
  height: 5vh;
  vertical-align: middle;
}

.NavBar-title {
  color: var(--white);
  font-size: 3vh;
  font-weight: light;
}

.NavBar-title-yellow {
  color: var(--yellow);
  font-size: 3vh;
  font-weight: bolder;
}

.NavBar-linkContainer {
  /* float: right; */
  vertical-align: middle;
  font-size: 2.5vh;
  /* align-items: center; */
  margin-left: var(--l);
  /* overflow: hidden; */
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
  padding: 0px var(--m);
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
