.SingleStat-container {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  width: 50vw;
}

.SingleStat-gameName {
  /* TODO */
  width: 15vw;
  font-weight: bold;
  text-align: center;
}
.SingleStat-wins {
  /* TODO */
  width: 10vw;
  color: var(--green);
  text-align: center;
}
.SingleStat-total {
  /* TODO */
  width: 10vw;
  text-align: center;
}
