.SingleQueue-container {
  background: var(--grey);
  border-radius: var(--xs);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleQueue-header {
  background: var(--darkgrey);
  border-radius: var(--xs);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleQueue-container:hover {
  background: var(--medgrey);
}

.SingleQueue-container--active {
  background: var(--primary--dim);
}

.SingleQueue-btn {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: var(--grey);
  transition: color 0.1s, background 0.1s;
  padding: var(--m) var(--l);
  width: 100%;
}

.SingleQueue-btn:hover {
  color: var(--white);
  background-color: var(--primary--dark);
}

.SingleQueue-delQueueButton {
  color: var(--primary);
  /* TODO */
}

.NewQueueInput-container {
  /* max-width: 20vh; */
  display: flex;
  margin-bottom: var(--s);
}

.NewQueueInput-input {
  flex: 3;
  min-width: 0;
}

.NewQueueInput-button {
  flex: 1;
}

/* .QueueList-link {
  color: var(--red);
} */
