.SingleItem-container {
  margin: 0 0 var(--xs);
  max-width: 100%;
}

.SingleItem-position {
  width: var(--xl);
  /* width: 10%; */
  /* margin-right: var(--m); */
  flex-shrink: 1;
}

.SingleItem-players {
  /* width: 50%; */
  width: 150px;
  padding: var(--s) var(--m);
  background: var(--medgrey);
  border-radius: var(--l);
  flex-shrink: 0;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

.SingleItem-edit {
  /* width: 25%; */
  padding: var(--s) var(--m);
  background: var(--medgrey);
  border-radius: var(--l);
  flex-shrink: 0;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

.SingleItem-del {
  /* width: 25%; */
  padding: var(--s) var(--m);
  background: var(--medgrey);
  border-radius: var(--l);
  flex-shrink: 0;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

.SingleItem-mine .SingleItem-players {
  background: var(--primary--dim);
  color: var(--white);
}
