.SingleQueue-container {
  background: var(--grey);
  border-radius: var(--xs);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleQueue-header {
  background: var(--darkgrey);
  border-radius: var(--xs);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleQueue-container:hover {
  background: var(--medgrey);
}

.SingleQueue-container--active {
  background: var(--primary--dim);
}
